<!DOCTYPE html>
<html>
  <head>
    <title>JsSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'stem_cells' if controller.controller_name == "stem_cells" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
